# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/01-hola-mundo/dist
/01-hola-mundo/tmp
/01-hola-mundo/out-tsc

/02-spa/dist
/02-spa/tmp
/02-spa/out-tsc

# Only exists if Bazel was run
/01-hola-mundo/bazel-out
/02-spa/bazel-out

# dependencies
/01-hola-mundo/node_modules
/02-spa/node_modules

# profiling files
/01-hola-mundo/chrome-profiler-events*.json
/01-hola-mundo/speed-measure-plugin*.json

/02-spa/chrome-profiler-events*.json
/02-spa/speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/01-hola-mundo/.DS_Store
/01-hola-mundo/Thumbs.db

/02-spa/.DS_Store
/02-spa/Thumbs.db